/* Solution css */
body{
    background-color: #111426;
    font-family: monospace;
    color: #f8f;
    
}

header{
    padding-left: 50px;
}

main{
    display: flex;    
   
}

.content{
    width: 900px;
    border-right: 1px dotted #f8f;
    border-bottom: 1px dotted #f8f;
    padding: 50px;
    padding-top: 0px;
    
    
}

.sidebar{
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px dotted #f8f;
    padding-top: 0px;
    
}

button{
    background-color: #111426;
    color: beige;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid beige;
    border-radius: 5px;
    margin-bottom: 20px;
}
button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.reveal-btn {
    border: none;
    text-decoration: underline;
    padding-top: 0px;
}

img{
    width: 400px;
    height: 400px;
    border: 3px solid #f8f;
    border-radius: 10px;
}

.footer{
    text-align: center;
    
}